body {
  height: 100%;
  width: 100%;
  font-family: "fira-sans", sans-serif;
}
#root {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: url(./wave3.jpg) center no-repeat;
  color: var(--w);
  margin: 0;
}
#root:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #181818,  #2F4C6F);
  opacity: .9;
  z-index: 0;
}

/* SIDEBAR HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  margin-top: 0;
  padding: 40px 10px;
  height: 100vh;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translate(0,0);
  transition: all 1s ease;
  z-index: 11;
  background-color: transparent;
}

.logo-wt {
  display: initial;
}
.logo-wt.shifted {
  display: none;
}
.logo-bl {
  display: none;
}
.logo-bl.shifted {
  display: initial;
}

.wipe {
  position: absolute;
  transform: translate(calc(-100vw + 70px), 0);
  background-color: var(--mg);
  width: calc(100vw - 70px);
  height: 100vh;
  transition: all 1s ease;
  z-index: 10;
}

header img {
  opacity: 0.8;
}

.menu-button {
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer !important;
}
.menu-button:hover .menu span {
  background: var(--wt);
  transition: all 0.5s;
}

.menu {
  cursor: pointer;
  width: 25px;
  height: 25px;
  flex: 1;
  transition: all 0.3s linear;
}
.menu span {
  background: var(--lg);
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.3s linear;
  transition: background 0.5s;
}

.content {
  opacity: 1;
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 70px;
  height: 100vh;
  width: calc(100vw - 70px);
  animation: disappear 0.1s;
}

/* TITLE */
.title {
  margin: 30px 0;
  margin-left: 140px;
  width: 700px;
}
.title h1 {
  font-weight: 900;
  font-size: 45px;
  z-index: 4;
  color: var(--wt);
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.title p {
  color: var(--lg);
  text-shadow: 0 1px 1px #000;
  line-height: 2;
  margin-top: 30px;
}

/* SOCIAL */
.social-row {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.cta {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  height: 50px;
  width: 500px;
}

.fa {
  color: var(--lg);
  line-height: 1 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.fa:hover {
  transition: all 0.5s;
}

.main-hr {
  border-color: var(--lg);
  margin: 20px 0;
  border-width: 1px;
}

/* RESUME */
.resume-container {
  width: 375px;
  margin: 10px 140px;
}

.resume-buttons-header {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 20px;
  z-index: 4;
  color: var(--wt);
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
}

.resume-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;
}

.resume-nav,
.resume-nav:hover {
  cursor: pointer !important;
}
.resume-nav {
  padding: 0 55px;
  height: 45px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 100;
  color: var(--wt);
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(24, 24, 24, 0.8);
  box-shadow: 0 7px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
  outline: none;
  border: none;
  transition: background-color 0.5s, box-shadow 1s;
}
.resume-nav:hover {
  background-color: rgba(24, 24, 24, 0.5);
  transition: background-color 0.5s, box-shadow 1s;
}
.resume-nav icon {
  text-shadow: 0 1px 1px #000;
  vertical-align: baseline;
  color: var(--wt);
  font-size: 14px;
}


@media (max-width: 1024px) {
  /* CONTENT (POSITIONING) */
  .content {
    left: 70px;
    width: calc(100vw - 70px);
  }
  /* TITLE */
  .title {
    margin: 30px 0;
    margin-left: 70px;
    width: 600px;
  }
  /* SOCIAL */
  .cta,
  .resume-container {
    margin-left: 70px;
    width: 429px;
  }
}

@media (max-width: 720px) {
  /* CONTENT (POSITIONING) */
  .content {
    left: 45px;
    width: calc(100vw - 45px);
  }
  /* TITLE */
  .title {
    margin: 30px 0;
    margin-left: 45px;
    width: calc(100vw - 140px);
  }
  /* SOCIAL */
  .cta,
  .resume-container {
    align-content: center;
    align-items: center;
    margin-left: 45px;
    width: calc(100vw - 140px);
  }
  .social-row {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wipe {
    overflow-x: hidden;
  }
  /* CONTENT (POSITIONING) */
  .content {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 60vh;
    top: 50%;
    transform: translate(0, -50%);
    left: 45px;
    width: calc(100vw - 45px);
  }
  .resume-container {
    margin-left: 90px;
    margin-top: 70px;
  }
  .resume-buttons-header {
    margin-left: 45px;
  }
  .resume-buttons {
    flex-direction: column;
    margin-left: 45px;
    width: 200px;
  }
  .resume-nav {
    margin: 0;
    width: 100%;
    padding: 30px 0;
    padding-top: 15px;
    margin-bottom: 20px;
  }
}












































