/*menus, etc*/

header.shifted {
  transform: translate(calc(100vw - 70px), 0);
  transition: transform 1s ease;
  z-index: 11;
  background-color: var(--abl);
  box-shadow: none;
}
header.shifted img {
  opacity: 1;
}
.wipe.shifted {
  position: absolute;
  transform: translate(0, 0);
  left: 0;
  background-color: var(--wt);
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
  z-index: 10;
}

.menu.shifted span:nth-child(1), .menu.shifted span:nth-child(3) {
  transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
  margin: 0;
}
.menu.shifted span:nth-child(2) {
  height: 0;
  margin: 0;
}
.menu.shifted span:nth-child(3) {
  transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
}

.menu.shifted span {
  background: var(--wt);
}
.shifted .fa {
  color: var(--wt);
}

/* --- CONTENT ----- */

/* HEADER */

.resume-header {
  width: calc(100vw - 70px);
  padding: 30px 100px;
  padding-bottom: 20px;
  height: 175px;
  background-color: var(--db);
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.resume-details {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
  height: 100%;
  z-index: 4;
  color: var(--wt);
}

.resume-details-top {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}
.resume-name {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 45px;
  z-index: 4;
  font-variant: small-caps;
}

.resume-details-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 2;
  font-weight: 100;
}

.resume-details-bottom p,
.resume-details-bottom a {
  font-size: 16px;
  width: 100%;
  color: var(--wt);
  text-decoration: none;
}
.resume-details-bottom p {
  cursor: pointer !important;
}
.resume-details-bottom icon {
  margin: 0 5px;
  font-size: 18px;
  text-shadow: none;
}



