body {
  background-color: var(--bl);
  color: var(--w);
  font-family: "neuropol-nova", sans-serif;
  margin: 0;
}
header {
  background-color: var(--dg);
  margin-top: 0;
  padding: 20px 10px;
  height: 100vh;
  width: 150px;
}

h1 {
  position: absolute;
  background-color: var(--mb);
  width: 175px;
  padding: 20px;
  color: var(--wt);
  margin: 0;
  left: 0;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
